name: wxPerl build for Microsoft Windows

on: push

# Environment variables.
env:

  # Version of wxWidgets to install
  WX:     3.2.9
  WXDIR:  C:\wxWidgets-3.2.9

  # Gcc 'tag' for wxWidgets
  GCC:    gcc1320

  # Strawberry Perl version
  PERL:   "5.42.0"
  PERLDL: perl542
  PV:     C:/hostedtoolcache/windows/strawberry-perl/5.42.0/x64/perl/site/lib

  # Alien::wxWidgets and wxPerl
  AWV:    0.73
  WXV:    3.009

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          distribution: strawberry
          perl-version: "${{ env.PERL }}"
      - run: perl -V
      - run: gcc --version
      - run: cpanm ExtUtils::XSpp
      - run: cpanm Net::SSLeay --notest

      - name: Add wxWidgets (Headers)
        run: |
          mkdir ${{ env.WXDIR }}
          Invoke-WebRequest -Uri "https://github.com/wxWidgets/wxWidgets/releases/download/v${{ env.WX }}/wxWidgets-${{ env.WX }}-headers.7z" -OutFile "wxWidgets-headers.7z"
          7z x -o${{ env.WXDIR }} wxWidgets-headers.7z

      - name: Add wxWidgets (Dev)
        run: |
          Invoke-WebRequest -Uri "https://github.com/wxWidgets/wxWidgets/releases/download/v${{env.WX }}/wxMSW-${{ env.WX }}_${{ env.GCC }}_x64_Dev.7z" -OutFile "wxMSW_Dev.7z"
          7z x -aoa -o${{ env.WXDIR }} wxMSW_Dev.7z

      - name: Add wxWidgets (PATH)
        run: |
          echo "${{ env.WXDIR }}\lib\${{ env.GCC }}_x64_dll" | Out-File -FilePath $Env:GITHUB_PATH -Encoding utf8 -Append
        
      - name: Add Alien::wxWidgets
        run: |
          Invoke-WebRequest -Uri "https://github.com/sciurius/perl-Alien-wxWidgets/releases/download/R${{ env.AWV }}/Alien-wxWidgets-${{ env.AWV }}.tar.gz" -OutFile "AWV.tar.gz"
          tar xf AWV.tar.gz
          cd Alien-wxWidgets-${{ env.AWV }}
          mkdir ${{ env.PV }}/Alien/wxWidgets/Config
          copy lib/Alien/wxWidgets.pm ${{ env.PV }}/Alien
          copy lib/Alien/wxWidgets/Utility.pm ${{ env.PV }}/Alien/wxWidgets
          perl script/make_cfg.pl "--wxdir=${{ env.WXDIR }}" "--output=%{sitelib}/%{alien_config}"
          cd ..
          rm -r Alien-wxWidgets-${{ env.AWV }}
          perl -MAlien::wxWidgets -E "say Alien::wxWidgets->prefix"

      - name: Add wxPerl
        run: |
          Invoke-WebRequest -Uri "https://github.com/sciurius/wxPerl/releases/download/R${{ env.WXV }}/Wx-${{ env.WXV }}.tar.gz" -OutFile "wxPerl.tar.gz"
          tar xf wxPerl.tar.gz
          cd Wx-${{ env.WXV }}
          perl Makefile.PL
          gmake
          perl -Mblib -MWx -E 'say $Wx::VERSION'
          gmake install
          cd ..
          rm -r -force Wx-${{ env.WXV }}

      - name: Test wxPerl
        run: |
          echo $Env:PATH
          perl -MWx -E "say join(q{ },$Wx::VERSION,$Wx::wxVERSION)"

 
